# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. C++
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Tensor Flow
2. Keras
3. Plotly

| Data Science Tools|
|-------------------|
|Jupyter Notebook|
|Rstudio|
|Matlab|

### Below are a few examples of evaluating arthimetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335

**Objectives:**

- Python
- Java
- C
- C++

## Author

Tapan Tanwar